# Visual Studio
.vs/
*.vcxproj.user
*.aps
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Build output
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.log

# Binaries / DLLs
*.dll
*.bin

# OS
.DS_Store
Thumbs.db
